.head_gallery {
    background-image: url(https://images.unsplash.com/photo-1468437012950-7d4960be6383?q=80&w=1882&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 8px rgb(200, 226, 211);
}
.headcontainer_gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.leftbox_gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    padding: 10px;
    margin: 5px;
    margin-top: 90px;
    border-radius: 10px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.3); 
}
.icons_gallery {
    display: flex;
    justify-content: center;
}
.rightbox_gallery {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    border-radius: 10px;
}
.headtext_gallery {
    position: absolute;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 85px;
    color: rgb(4, 91, 102);
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(157, 209, 191);
    text-shadow: 3px 3px #02282c;
}
.quotes_gallery {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(10, 70, 78);
}
.moments_gallery {
    width: 800px;
    height: 70vh;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 4px rgb(205, 218, 228);
}
.btn_galerry  {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
@media all and (max-width: 1200px) {
    .headtext_gallery {
        margin-top: 0px;
        font-size: 45px;
    }
    .leftbox_gallery {
        height: 30vh;
        padding: 5px;
        margin-top: 150px;
        width: 350px;
    }
    .quotes_gallery {
        font-size: 20px;
        padding: 10px;
        margin: 10px;
    }
    .moments_gallery {
        width: 300px;
        height: 35vh;
        margin-top: 50px;
        
    }
} 
