.navbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    background: #fff;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;

}
.navbar-logo {
    color: #222;
    font-size: 2rem;
    cursor: pointer;
    padding: 15px;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    align-items: center;
}
.link {    
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
}
.link:hover {
    background-color: #01959a;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.menu-button {
    display: none;
}
@media all and (max-width: 850px) {
    .navbarItems {
        z-index: 99;
    }
    .menu-button {
        display: block;
    }
    .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #fff;
        width: 100%;
        height: auto;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 90px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
    }
    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }
    .link {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
        text-align: center;
    }
    .links:hover {
        background: #01959a;
        transition: none;
    }
}
