
body {
    background-color: hsl(143, 23%, 74%);
}
.home_container {
    background-image: url('./Home/fotoback.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.link {
    margin: 10px 10px;
    color: rgb(50, 104, 88);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
.head_text{
    position: absolute;
    margin-left: 150px;
    margin-top: 40px;
    color: transparent;
    text-transform: uppercase;
    font-size: 120px;
    -webkit-text-stroke: 1px rgb(157, 209, 191);
    mix-blend-mode: screen;
    text-shadow: 3px 3px #c2e6d2;
    width: 800px;
}
.headbox_logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text_about {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 30px;
    margin: 50px;
    margin-top: 290px;
    width: 300px;
    height: 35vh;
    border-radius: 30px;
    box-shadow: 4px 4px 4px 4px;
}
.logo_bigbox {
    padding: 5px;
}
.list {
    list-style: none;
}
.logo_img {
    padding: 10px;
    margin: 8px;
    border-radius: 50px;
    border: 5px solid #36744f;
    background-color: rgba(255, 255, 255, 0.3);
}
.about {
    text-transform: none;
    color: #edf6f1;
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
}
.container {
    padding: 30px;
    margin: 50px;
}
.inputweather {
    width: 400px;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px 4px;
    border-radius: 15px;
}
.search {
    color: #0f0f0f;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4); ;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #3d3d37;
    border: none;
    font-size: 20px;
    margin: 8px;
}
.btn {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px ;
}
.box_date{
    color: rgb(4, 47, 51);
    font-family: "Montserrat", sans-serif;
}
.container_weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smallbox_weather {
    color: rgb(4, 47, 51);
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-shadow: 1px 3px black;
    margin-top: -10px;
}
.box_feelslike{
    color: rgb(4, 47, 51);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-top: -5px;
}
.boxes {
    display: flex;
    justify-content: space-between;
}
.box {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 3px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 3px;
}
.wind {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.check_box{
    color: rgb(4, 47, 51);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.bottom_line {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom_logo {
    margin: 10px 4vh;
}
.education_bottom {
    color: rgb(6, 26, 27);
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}
@media all and (max-width: 1200px) {
    .head_text{
        margin-left: 250px;
        margin-top: 0px;
        font-size: 70px;
        width: 300px;
    }
    .headbox_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text_about {
        height: 45vh;
    }
    .inputweather {
        height: 100vh;
    }
}
@media all and (max-width: 800px) {
    .head_text{
        margin-left: 250px;
        margin-top: 0px;
        font-size: 70px;
        width: 300px;
    }
    .headbox_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media all and (max-width: 500px) {
    .head_text{
        margin-left: 100px;
        margin-top: 0px;
        font-size: 70px;
        width: 200px;
    }
    .headbox_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text_about {
        width: 250px;
        padding: 10px;
        margin-top: 300px;
    }
    .container {
        padding: 10px;
        margin: 10px;
    }
    
}
